{% extends 'base.html' %}
{% load static %}
{% block title %}TLC Inicio{% endblock %}

{% block content %}
<section class="view intro-1 hm-black-strong">
    <div class="full-bg-img flex-center">
        <div class="container">

    

    <div style="background-color: rgba(255, 255, 255, 0.8); color: rgb(0, 19, 104);">
        <div style="margin: 20px;">

            <img src=" {% static 'img/quienes_somos.png' %} " alt="no carga" width="100%">
        </div>


    </div>

    
</div>
</div>
</section>

{% endblock %}